table
	tr 
		a(vertical-align="top")
		td 
			a(href=`/refresh`)  Refresh Page

		td  Running Engines:
		td  #{engines.length}
		td 
			a(href=`/shutdown`)  Shutdown  
		td 
			a(href=`/restart`)  Restart 


