table
	tr 
		a(vertical-align="top")
		td 
			a(href=`/refresh`)  Refresh Page
		td  Running Engines:
		td  #{engines.length}
		td 
			a(href=`/shutdown`)  Shutdown  
		td 
			a(href=`/restart`)  Restart
		td  UserId:
		td
			- var user_id;
			- if (userId) user_id = userId;
			- else user_id='demo';

			input(type="text",name="userId",id="userId",value=`${user_id}`)


