extends layoutHome

block content
	h1 bpmn-server Workbench
	include includes/dashboardHeader.pug

	script(type="text/javascript").
		$( function() {
			$( "#tabs" ).tabs();
		} );


	div(id="tab13s")
		div(id="processes",style="border-bottom: solid;border-width: thin;")
			include includes/processes.pug
		div(id="tasks")
			include includes/tasks.pug
		div(id="engines")
			include includes/engines.pug
		div(id="instances")
			include includes/instances.pug

		div(id='footer',style="padding-bottom:20px;")
	
	