body
 h1= "Execute a definition"
 form(action="/execute" method="POST")
    table
     tr
        td Defnition:
        td Data: format: {field: value, field2: value2} 
        td 
     tr
        td
          select(name="definition" size="5" placeholder="")
            each process in procs
                option(value=process.name) #{process.name}
        td
          input(type="text" name="data" placeholder="")
        td
          input(type="submit")