extends layout

block content
    h1 BPMN-Server Demo

    h2 Features

    ul   
        li   To handle processes that wait for User Interactions or event,messages or signals
            ul
                li       unload and save engines when idle or when waiting
                li       load engines (instances) when invoked
        li   To manage information about running,i.e. outstanding work
        li   To manage information about completed processes for data analysis
        hr

    
